/* Coolors Exported Palette - https://coolors.co/d8e2dc-ffe5d9-ffcad4-f4acb7-9d8189 */

/* CSS */
--alabaster: hsla(144, 15%, 87%, 1);
--champagne-pink: hsla(19, 100%, 93%, 1);
--pink: hsla(349, 100%, 90%, 1);
--light-pink: hsla(351, 77%, 82%, 1);
--mountbatten-pink: hsla(343, 13%, 56%, 1);

/* SCSS HEX */
$alabaster: #d8e2dcff;
$champagne-pink: #ffe5d9ff;
$pink: #ffcad4ff;
$light-pink: #f4acb7ff;
$mountbatten-pink: #9d8189ff;

/* SCSS HSL */
$alabaster: hsla(144, 15%, 87%, 1);
$champagne-pink: hsla(19, 100%, 93%, 1);
$pink: hsla(349, 100%, 90%, 1);
$light-pink: hsla(351, 77%, 82%, 1);
$mountbatten-pink: hsla(343, 13%, 56%, 1);

/* SCSS RGB */
$alabaster: rgba(216, 226, 220, 1);
$champagne-pink: rgba(255, 229, 217, 1);
$pink: rgba(255, 202, 212, 1);
$light-pink: rgba(244, 172, 183, 1);
$mountbatten-pink: rgba(157, 129, 137, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #d8e2dcff, #ffe5d9ff, #ffcad4ff, #f4acb7ff, #9d8189ff);
$gradient-right: linear-gradient(90deg, #d8e2dcff, #ffe5d9ff, #ffcad4ff, #f4acb7ff, #9d8189ff);
$gradient-bottom: linear-gradient(180deg, #d8e2dcff, #ffe5d9ff, #ffcad4ff, #f4acb7ff, #9d8189ff);
$gradient-left: linear-gradient(270deg, #d8e2dcff, #ffe5d9ff, #ffcad4ff, #f4acb7ff, #9d8189ff);
$gradient-top-right: linear-gradient(45deg, #d8e2dcff, #ffe5d9ff, #ffcad4ff, #f4acb7ff, #9d8189ff);
$gradient-bottom-right: linear-gradient(135deg, #d8e2dcff, #ffe5d9ff, #ffcad4ff, #f4acb7ff, #9d8189ff);
$gradient-top-left: linear-gradient(225deg, #d8e2dcff, #ffe5d9ff, #ffcad4ff, #f4acb7ff, #9d8189ff);
$gradient-bottom-left: linear-gradient(315deg, #d8e2dcff, #ffe5d9ff, #ffcad4ff, #f4acb7ff, #9d8189ff);
$gradient-radial: radial-gradient(#d8e2dcff, #ffe5d9ff, #ffcad4ff, #f4acb7ff, #9d8189ff);